.info__title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 26px;
}
.info__desc {
    font-size: 14px;
    color: #333333;
    line-height: 26px;
}
.info__image {
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-color: #dbe9f2;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 390px;
    display: flex;
    align-items: center;
}
.info__picture {
    display: block;
    margin: 0 auto;
}
@media(min-width:$tablet) {
    .info__text-block {
        max-width: 488px;
        margin: 0 auto;
        text-align: center;
    }
}
