.media {
    padding: 0 20px;
}
.media__video-bar {
    background-color: #f2f2f2;
}
.media__video-black-block {
    background-color: rgba(0,0,0,0.6)
}
.media__item-title, .media__item-likes-count {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    line-height: 24px;
}
.media__item-title {
    margin: 22px 0 8px;
}
.media__item-text-author {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    text-transform: initial;
    margin-bottom: 12px;
    display: block;
}
.media__title-video {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 26px;
}
.media__item-video-desc {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}
.media__item-like-link {
    display: table;
    text-decoration: none;
    margin-right: 15px;
}
.media__item-like-link svg {
    fill: #b2b2b2
}
.media__item-likes {
    display: flex;
    align-items: center;
}
.media__wrapper {
    padding: 22px 0;
    position: relative;
}
.media__wrapper::after, .media__wrapper:first-child::before {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: calc(100% + 40px);
    background-color: #e2e2e2;
    left: -20px;
}
.media__wrapper::after {
    bottom: 0;
}
.media__wrapper:first-child::before {
    top: 0;
}