.page-footer__tag {
    font-size: 21px;
    font-weight: 700;
    color: #000;
    line-height: 26px;
}
.page-footer__desc {
    font-size: 14px;
    color: #000;
    line-height: 26px;
}
@media (min-width: $tablet) {
    .page-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}